<!DOCTYPE html>
<html>
  <head>
    <title>Is the QMB Busy?</title>
    <script src="https://cdn-webgl.wrld3d.com/wrldjs/dist/latest/wrld.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.1/leaflet.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <link href="https://cdn-webgl.wrld3d.com/wrldjs/addons/resources/latest/css/wrld.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script src="https://cdn-webgl.wrld3d.com/wrldjs/addons/indoor_control/latest/indoor_control.js"></script>
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <img src="/images/SoC.png" alt="">
      <h1>Is the Queen Mother Building Busy?</h1>
      <button style="visibility:hidden" id="noiseButton" onclick="setEntityHighlights()">Activate noise</button>
      <button style="visibility:hidden" id="tableButton" onclick="">Activate tables</button>
      <div class="slide">
        <div class="popup">
          <span style="visibility:hidden" class="popuptext show" id="myPopup"></span>
        </div>
        <input style="visibility:hidden" type="range" min="1" max="24" value="8" class="slider" id="hourRange">
      </div>
    </header>
    <section>
      <div id="widget-container" class="wrld-widget-container"></div>
      <div id="map" style="min-height: 800px;"></div>
      <div id="NoiseGradient" style="position:absolute; visibility:hidden; left: 95%; top: 40%">
        <img src="/images/NoiseGradient.png">
    </div>
      <div id="graphButton" style="position:absolute; left: 96.5%; top: 12%; visibility:hidden">
        <i class="fas fa-chart-line fa-3x"></i>
      </div>
      <div><canvas class= "myChart" id="myChart" style= "position: relative;"></canvas></div>
    </section>
    <script src="/scripts/map.js"></script>
    <script src="/scripts/timetable.js"></script>
    <script src="/scripts/desks.js"></script>
    <script src="/scripts/noiseGenerator.js"></script>
    <script src="/scripts/slider.js"></script>
    <script src="/scripts/graphDisplay.js"></script>
  </body>
</html>
