<!DOCTYPE HTML>
<html>
  <head>
    <script src="https://cdn-webgl.wrld3d.com/wrldjs/dist/latest/wrld.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.1/leaflet.css" rel="stylesheet" />
  </head>
  
  <body>
  <div style="position: relative">
    <div id="map" style="height: 700px"></div>
    <script>
      var map = L.Wrld.map("map", "ccefc31d6ccc1a6605409b0d2e6075bf", {
        center: [37.7858, -122.401],
        zoom: 16
      });
    </script>
  </div>
  <div>
    <p>Just a test</p>
  </div>
  </body>
</html>
